using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.TestHost;
using Microsoft.Extensions.DependencyInjection;
using Moq;
using Newtonsoft.Json;
using System;
using System.Collections.Generic;
using System.Net.Http;
using System.Text;
using System.Threading.Tasks;
using Xunit;

{{#operations}}
namespace {{packageName}}.Test
{
    using {{packageName}}.Controllers{{namespace}};

    public class Api_{{testclassname}}Tests : IDisposable
    {
        private readonly TestServer testServer;
        private readonly HttpClient client;

        public Api_{{testclassname}}Tests()
        {
            testServer = new TestServer(new WebHostBuilder()
                .UseStartup<Startup>()
                .UseEnvironment("Testing")
                .ConfigureServices(services =>
                    {
                        //TODO setup your mocked services here
                    })
            );

            client = testServer.CreateClient();
        }

        public void Dispose()
        {
            client.Dispose();
            testServer.Dispose();
        }

        {{#operation}}
        [Fact]
        public async Task {{operationId}}_Should_Do_Something_Useful{{#allParams}}_{{paramName}}{{/allParams}}()
        {
            throw new NotImplementedException();
        }
        {{/operation}}
    }
}
{{/operations}}